<<<<<<< HEAD
/* Variables */
$base-font: 14px;
$line-height: 1.5;
$serif: 'Neuton', serif;
$sans-serif: 'Lato', sans-serif;
=======
$base-font:;
$line-height:;
$serif:;
$sans-serif:;
>>>>>>> kcc-nma-art258/master
