// Variables
$full-width: 100%;
$full-height: 100%;

// Mixins
@mixin frame {
  background-color: #FCFCFC;
  border: 1px solid #333;
  border-radius: 1px;
  height: $full-height;
  vertical-align: middle;
  text-align: center;
}

// Styles
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: $full-height;
}

html {
  background-color: white;
  font-size: 16px;
}

body {
  font: normal normal 300 16px/1.5 'Open Sans', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin cf {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

.container {
  width: $full-width;
  max-width: 960px;
  margin: 0 auto;
  height: $full-height;
  position: relative;
}

.logo,
.main-nav,
.search,
.hero,
.info-left,
.info-right,
.slide-01,
.slide-02,
.slide-03,
.slide-04,
.main-footer {
  @include frame;
}

.main-header,
.hero,
.content,
.carousel,
.main-footer {
  margin-bottom: 0.5rem;
}

.main-header {
  border: 0 none;
  height: 5em;

  .logo,
  .main-nav,
  .search {
    height: $full-height;
    position: absolute;
  }

  .logo,
  .search {
    width: 6.5em;
    line-height: 5em;
  }

  .logo {
    display: inline-block;
    top: 0;
    left: 0;
  }

  .search {
    top: 0;
    right: 0;
  }

  .main-nav {
    width: 20em;
    margin-left: -10em;
    top: 0;
    left: 50%;
  }

  .main-nav li {
    display: inline-block;
    height: 5em;
    padding: 0 0.5em;
    line-height: 5em;
    vertical-align: middle;
    list-style: none;
  }
}

.hero {
  height: 37.5rem;
  line-height: 37.5rem;
  font-size: 4em;
}

.content {
  height: auto;
  @include cf;
}

.content > [class^="info-"] {
  display: inline-block;
  height: $full-height;
  width: 50%;
  font-size: 2em;
  line-height: 25rem;
}

.content > .info-left {
  float: left;
}

.content > .info-right {
  float: right;
}

.carousel {
  width: $full-width;
  height: 31.25em;
  border-left: 0 none;
  border-right: 0 none;

  /* Scrolling section */
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  word-spacing: -4px;
}

.carousel > [class^="slide-"] {
  display: inline-block;
  height: $full-height;
  width: $full-width / 2;
  margin-right: 0.5rem;
  font-size: 2em;
  line-height: 31.25rem;
}

.main-footer {
  height: 22.5rem;
  font-size: 2em;
  line-height: 22.5rem;
}
